# База данных
DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=meetingscribe

# Postgres (для инициализации контейнера)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=meetingscribe

# Приложение
APP_NAME=MeetingScribe
DEBUG=False
API_VERSION=1.0

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Внешние ML API
REPLICATE_API_TOKEN=
VSELLM_API_KEY=
VSELLM_BASE_URL=https://api.vsellm.ru/v1

SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_SECONDS=3600